body {
    font-family: 'Jost', sans-serif !important;
}

a {
    text-decoration: none;
    margin: auto;
    color: black;
}

.flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: #eff3ff;
}

.toggle {
    display: none;
}



.home,
.practice,
.mock,
.coins,
.profileFooter {
    margin-top: auto;
    margin-bottom: auto;
    color: #bac0c5;
    font-size: 1.2rem;
    cursor: pointer;
}


.active {
    color: #00b0ff !important;
    text-shadow: 2px 3px 2px #7c7a7a;
}

.practiceWrapper {
    margin: auto;
    /* margin-top: 5%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    width: 90%;
}

.history {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 5% 5%; */
}

.geography {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.economy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.geography h1 {
    font-size: 1.2rem;
    margin: auto;
}

.economy h1 {
    font-size: 1.2rem;
    margin: auto;
}

.child1,
.child2 {
    background-color: #fff;
    width: 48%;
    height: 50px;
    text-align: center;
    display: flex;
    box-shadow: 5px 5px 15px -5px #000000;
}

.history h1 {
    font-size: 1.2rem;
    margin: auto;
}

.longCard {
    width: 100%;
    margin: auto;
    height: 50px;
    background-color: #fff;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    display: flex;
}

.longCard h1 {
    font-size: 1.2rem;
    margin: auto;
}

.misc {
    width: 100%;
    margin: auto;
    height: 50px;
    background-color: #fff;
    text-align: center;
    display: flex;
    box-shadow: 5px 5px 15px -5px #000000;
}

.misc h1 {
    font-size: 1.2rem;
    margin: auto;
}

.longCard {
    box-shadow: 5px 5px 15px -5px #000000;
}

.practiceDesktop {
    display: none;
}

@media only screen and (min-width: 900px) {
    
    .toggle {
        display: block;
        text-shadow: none;
        font-size: 1.5rem;
        color: #fff;
        font-weight: 600;
    }
   
   
    
    .toggle h1 {
        display: inline;
    }
    .practiceWrapper {
        display: none;
    }
    .practiceDesktop {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: auto;
        margin-top: 2%;
    }
    .child {
        background-color: #fff;
        padding: 10px;
        font-size: 1.5rem;
        margin: 1% 1%;
        box-shadow: 5px 5px 15px -5px #000000;
    }
    .home:hover,
    .practice:hover,
    .mock:hover,
    .coins:hover,
    .profileFooter:hover {
        animation-name: scale;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }
    @keyframes scale {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(1.2);
        }
    }
}